body {
    font-family: 'Quicksand';
    background-color: #Ecefef;
}

a:link { 
	text-decoration: none; 
}

.airal-bold {
	font-family: Arial;
	font-weight: bold;
	font-size: 2rem;
}
.gray-hover a .row:hover{
  background-color: #dcdcdc;
}
.btn-red {
    background-color: #db3939;
    color: #fff;
    font-family: "Quicksand",sans-serif;
}
.btn-red :hover{
    color: #000;
    font-family: "Quicksand",sans-serif;
}
.btn-outline-red {
	border-color: #db3939;
	color: #db3939;
}
.btn-outline-red:hover {
	background-color: #db3939;
	color: #fff;
}
.text-color-red{
	color: #db3939 ;
}
.red-black-hover:hover{
	color: #000 ;
}

.dark-nav-color {
	background-color: #303030;
		color:#fff;

}
.dark-btn {
	background-color: #303030;
		color:#fff;
}
.dark-btn:hover{
	color:#db3939;
}

.btn-outline-color-red {
    color: #db3939;
    border-color: #db3939;
}
/*.border-thick-bottom{
	border-bottom: 2px solid #Ecefef;
}*/
/*
.dark-color-card{
	background-color: #303030;
	color: #fff;
	/*background-color: rgb(24, 24, 24);
	border: none;*/
}*/
